<!DOCTYPE html>
<html>
    <head>
        {{ include('components/head.html.twig') }}
        <title>{% block title %}Prueba{% endblock %}</title>
    </head>
    <body>
        {% for message in app.flashes('success') %}
            <div class="d-flex justify-content-center alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
        {% for message in app.flashes('danger') %}
            <div class="d-flex justify-content-center alert alert-danger">
                {{ message }}
            </div>
        {% endfor %}

        <div id="loading">
            <div id="loading-center">
            </div>
        </div>
        {% block body %}
        {% endblock %}
        {% block javascripts %}
            <!-- Backend Bundle JavaScript -->
            <script src="{{ asset('assets/js/backend-bundle.min.js') }}"></script>

            <!-- app JavaScript -->
            <script src="{{ asset('assets/js/app.js') }}"></script>
            <script src="{{ asset('assets/js/sidebar.js') }}"></script>
        {% endblock %}
    </body>
</html>
