{% extends '/base.html.twig' %}

{% block title %}Modificar usuario{% endblock %}

{% block body %}
    {% block loader %}
        {{ parent() }}
    {% endblock %}
    {{ block('sidebar', 'product/index.html.twig') }}

    <div class="wrapper">
        <div class="content-page d-flex">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 mt-5">
                        <div class="d-flex flex-column flex-wrap align-items-center justify-content-between mb-4">
                            <div>
                                <h4 class="mb-3">Editar usuario</h4>
                            </div>
                            <div class="col-md-8">
                                {{ form_start(form) }}
                                {{ form_errors(form) }}
                                <div class="row flex-column align-items-center">
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            {{ form_row(form.username) }}
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            {{ form_row(form.password) }}
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            {{ form_row(form.active) }}
                                        </div>
                                    </div>
                                    <div class="col-md-8 mt-0 text-center">
                                        {{ form_row(form.submit) }}
                                    </div>
                                </div>
                                {{ form_end(form) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}